In [ ]:
#Data from the Amundson Sea

In [32]:
import glob
import pandas as pd
from pandas.compat import StringIO
import xarray as xr
import numpy as np

In [52]:
path='/home/wizard/Documents/observing_the_ocean/anna_wahlin/exercises/data/Exercise_2/'

In [53]:
# all_files = glob.glob(path.join(path, "OS*.dat"))

In [54]:
# df=pd.read_table(data_dir+)
# df=pd.read_csv(StringIO(temp), 
#                  sep="\s+", 
#                  skiprows=1, 
#                  usecols=[0,7], 
#                  names=['TIME','XGSM'])

In [129]:
import dask.dataframe as dd
# # df = dd.read_csv(data_dir+'OS*.dat')
df = pd.concat([pd.read_csv(f,sep='\s+',names=['p','T','S','rho']) for f in glob.glob(data_dir+'OS*.dat')], ignore_index = True)
df2 = pd.concat([pd.read_csv(f,skiprows=3,nrows=2,names=['Start_Lat','Start_Lon']) for f in glob.glob(data_dir+'OS*.dat')], ignore_index = True)
df

               p          T                      S       rho
0       Filename          =  OSO0809_CTD_26058.dat       NaN
1           Date          =             2008/12/21       NaN
2     Start_Time          =               08:55:28       NaN
3      Start_Lat          =               -72.4496       NaN
4      Start_Lon          =              -116.1512       NaN
5      Deviation          =                    NaN       NaN
6        Columns          =              p:T:S:rho       NaN
7       1.000000  -1.713000              33.820600  27.43155
8       2.000000  -1.713400              33.804700  27.41588
9       3.000000  -1.715800              33.805800  27.41709
10      4.000000  -1.720700              33.795600  27.40720
11      5.000000  -1.722200              33.802700  27.41432
12      6.000000  -1.730500              33.813200  27.42502
13      7.000000  -1.733900              33.826000  27.43780
14      8.000000  -1.735600              33.826300  27.43819
15      9.000000  -1.731700              33.711400  27.32341
16     10.000000  -1.730700              33.711800  27.32381
17     11.000000  -1.731000              33.712400  27.32448
18     12.000000  -1.731000              33.713800  27.32596
19     13.000000  -1.729400              33.715200  27.32737
20     14.000000  -1.725400              33.717500  27.32961
21     15.000000  -1.716500              33.723700  27.33564
22     16.000000  -1.704500              33.732600  27.34426
23     17.000000  -1.696800              33.738300  27.34980
24     18.000000  -1.690000              33.743400  27.35472
25     19.000000  -1.691800              33.750000  27.36144
26     20.000000  -1.696000              33.762900  27.37453
27     21.000000  -1.688000              33.780100  27.39141
28     22.000000  -1.673000              33.795900  27.40661
29     23.000000  -1.678200              33.800300  27.41118
...          ...        ...                    ...       ...
6470  529.000000   0.005200              34.365500  27.85375
6471  530.000000   0.022200              34.369200  27.85581
6472  531.000000   0.043000              34.373300  27.85794
6473  532.000000   0.059200              34.376800  27.85989
6474  533.000000   0.060400              34.376900  27.85991
6475  534.000000   0.059900              34.376900  27.85998
6476  535.000000   0.059800              34.377000  27.86010
6477  536.000000   0.060000              34.376800  27.85995
6478  537.000000   0.059700              34.376700  27.85991
6479  538.000000   0.059100              34.376800  27.86007
6480  539.000000   0.059100              34.376900  27.86019
6481  540.000000   0.059600              34.377100  27.86036
6482  541.000000   0.060300              34.377300  27.86051
6483  542.000000   0.060800              34.377600  27.86077
6484  543.000000   0.061100              34.377700  27.86087
6485  544.000000   0.061600              34.377700  27.86086
6486  545.000000   0.061500              34.377600  27.86081
6487  546.000000   0.060900              34.377800  27.86106
6488  547.000000   0.059600              34.377500  27.86092
6489  548.000000   0.060100              34.377600  27.86100
6490  549.000000   0.059700              34.377800  27.86124
6491  550.000000   0.059500              34.377500  27.86102
6492  551.000000   0.059600              34.377600  27.86113
6493  552.000000   0.059300              34.377600  27.86118
6494  553.000000   0.058300              34.377500  27.86119
6495  554.000000   0.058000              34.377600  27.86134
6496  555.000000   0.058500              34.377800  27.86151
6497  556.000000   0.058500              34.378000  27.86171
6498  557.000000   0.058500              34.378100  27.86183
6499  558.000000   0.058500              34.378200  27.86195

[6500 rows x 4 columns]

In [43]:
df

,Filename = OSO0809_CTD_16033.dat,Filename = OSO0809_CTD_17034.dat,Filename = OSO0809_CTD_22054.dat,Filename = OSO0809_CTD_23055.dat,Filename = OSO0809_CTD_24056.dat,Filename = OSO0809_CTD_25057.dat,Filename = OSO0809_CTD_26058.dat,Filename = OSO0809_CTD_27059.dat,Filename = OSO0809_CTD_27060.dat,Filename = OSO0809_CTD_27061.dat,Filename = OSO0809_CTD_27062.dat,Filename = OSO0809_CTD_28063.dat
0,NaN,NaN,NaN,NaN,NaN,NaN,Date\t = 2008/12/21,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Start_Time\t = 08:55:28,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,Start_Lat\t = -72.4496,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Start_Lon\t = -116.1512,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Deviation\t = NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Columns\t = p:T:S:rho,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,1.000000\t -1.713000\t 33.820600\t 27.431550\t,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,2.000000\t -1.713400\t 33.804700\t 27.415880\t,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,3.000000\t -1.715800\t 33.805800\t 27.417090\t,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,4.000000\t -1.720700\t 33.795600\t 27.407200\t,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,5.000000\t -1.722200\t 33.802700\t 27.414320\t,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,6.000000\t -1.730500\t 33.813200\t 27.425020\t,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,7.000000\t -1.733900\t 33.826000\t 27.437800\t,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,8.000000\t -1.735600\t 33.826300\t 27.438190\t,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,9.000000\t -1.731700\t 33.711400\t 27.323410\t,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,10.000000\t -1.730700\t 33.711800\t 27.323810\t,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,11.000000\t -1.731000\t 33.712400\t 27.324480\t,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,12.000000\t -1.731000\t 33.713800\t 27.325960\t,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,13.000000\t -1.729400\t 33.715200\t 27.327370\t,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,14.000000\t -1.725400\t 33.717500\t 27.329610\t,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,15.000000\t -1.716500\t 33.723700\t 27.335640\t,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,16.000000\t -1.704500\t 33.732600\t 27.344260\t,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,17.000000\t -1.696800\t 33.738300\t 27.349800\t,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,18.000000\t -1.690000\t 33.743400\t 27.354720\t,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,19.000000\t -1.691800\t 33.750000\t 27.361440\t,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,20.000000\t -1.696000\t 33.762900\t 27.374530\t,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,21.000000\t -1.688000\t 33.780100\t 27.391410\t,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,22.000000\t -1.673000\t 33.795900\t 27.406610\t,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,23.000000\t -1.678200\t 33.800300\t 27.411180\t,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,24.000000\t -1.682100\t 33.803100\t 27.414120\t,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6458,NaN,NaN,529.000000\t 0.005200\t 34.365500\t 27.853750\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6459,NaN,NaN,530.000000\t 0.022200\t 34.369200\t 27.855810\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6460,NaN,NaN,531.000000\t 0.043000\t 34.373300\t 27.857940\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6461,NaN,NaN,532.000000\t 0.059200\t 34.376800\t 27.859890\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6462,NaN,NaN,533.000000\t 0.060400\t 34.376900\t 27.859910\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6463,NaN,NaN,534.000000\t 0.059900\t 34.376900\t 27.859980\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6464,NaN,NaN,535.000000\t 0.059800\t 34.377000\t 27.860100\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6465,NaN,NaN,536.000000\t 0.060000\t 34.376800\t 27.859950\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6466,NaN,NaN,537.000000\t 0.059700\t 34.376700\t 27.859910\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6467,NaN,NaN,538.000000\t 0.059100\t 34.376800\t 27.860070\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6468,NaN,NaN,539.000000\t 0.059100\t 34.376900\t 27.860190\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6469,NaN,NaN,540.000000\t 0.059600\t 34.377100\t 27.860360\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6470,NaN,NaN,541.000000\t 0.060300\t 34.377300\t 27.860510\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6471,NaN,NaN,542.000000\t 0.060800\t 34.377600\t 27.860770\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6472,NaN,NaN,543.000000\t 0.061100\t 34.377700\t 27.860870\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6473,NaN,NaN,544.000000\t 0.061600\t 34.377700\t 27.860860\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6474,NaN,NaN,545.000000\t 0.061500\t 34.377600\t 27.860810\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6475,NaN,NaN,546.000000\t 0.060900\t 34.377800\t 27.861060\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6476,NaN,NaN,547.000000\t 0.059600\t 34.377500\t 27.860920\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6477,NaN,NaN,548.000000\t 0.060100\t 34.377600\t 27.861000\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6478,NaN,NaN,549.000000\t 0.059700\t 34.377800\t 27.861240\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6479,NaN,NaN,550.000000\t 0.059500\t 34.377500\t 27.861020\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6480,NaN,NaN,551.000000\t 0.059600\t 34.377600\t 27.861130\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6481,NaN,NaN,552.000000\t 0.059300\t 34.377600\t 27.861180\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6482,NaN,NaN,553.000000\t 0.058300\t 34.377500\t 27.861190\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6483,NaN,NaN,554.000000\t 0.058000\t 34.377600\t 27.861340\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6484,NaN,NaN,555.000000\t 0.058500\t 34.377800\t 27.861510\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6485,NaN,NaN,556.000000\t 0.058500\t 34.378000\t 27.861710\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6486,NaN,NaN,557.000000\t 0.058500\t 34.378100\t 27.861830\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6487,NaN,NaN,558.000000\t 0.058500\t 34.378200\t 27.861950\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN